body {
    background-color:#000;
    margin:0;
    overflow:hidden;
    padding:0;
    position: relative;
  }

  #header {
    font-size: 5rem;
  }

  #text{
    font-size: 3rem;
  }
  
  .screen {
    animation:colorPulse 5s infinite ease-in-out;
    background-image:radial-gradient(#444, #111);
    box-shadow:0 0 5vmin 1vmin #000 inset;
    box-sizing:border-box;
    font-family:'Fira Mono', monospace;
    font-size:20px;
    height:100vh;
    overflow:hidden;
    padding:10vmin;
    width:100vw;
  }
  
  .screen:before {
    animation:wave 5s infinite ease-in-out;
    content:"";
    height:20vh;
    left:0;
    opacity:.5;
    position:absolute;
    right:0;
    z-index:1;
  }
  
  .screen:after {
    background-image:linear-gradient(transparent, transparent 3px, #222);
    background-size:4px 4px;
    bottom:0;
    content:"";
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
  }
  
  p:last-child:after {
    animation:blink 1s infinite;
    content:"_";
  }
  
  @keyframes colorPulse {
    0%, 100% {
      color:#0c0;
    }
    48%, 52% {
      color:#090;
    }
    50% {
      color:#060;
    }
  }
  
  @keyframes wave {
    0% {
      box-shadow:0 -10vh 20vh #0c0;
      top:-100vh;
    }
    48%, 52% {
      box-shadow:0 -10vh 20vh #090;
    }
    50% {
      box-shadow:0 -10vh 20vh #060;
    }
    100% {
      box-shadow:0 -10vh 20vh #0c0;
      top:200vh;
    }
  }
  
  @keyframes blink {
    50% {
      opacity:0;
    }
  }


 
.screen__content__button{
  width: 100%;
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    flex-direction: center;
    align-items: center;
    justify-content: center;
    justify-self: space-between;
  }

  a:hover {
    color: rgb(0, 0, 0);
  }

  a:active {
    color: rgb(0, 0, 0);
  }

  a:visited {
    color: rgb(0, 0, 0);
  }

  a:link {
    color: rgb(0, 0, 0);
  }



  button {
    background-color: #0c0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 15%;
  }

  @media screen  {
    .screen__content__button {
      width: 100%;
      position: fixed;
      bottom: 50px;
      display: flex;
      justify-content: center;
    }

    #text {
      font-size: 2rem;
      display: flex;
      position: fixed;
    }

    #header {
      font-size: 3rem;
      display: flex;
    }
  }
  